<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
    </style>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>This is the contact page.</p>
    <!-- dynamic variables -->
    <p>Name: <%= name %></p>
    <p>Email: <%= email %></p>
    <p>Message: <%= message %></p>
  </body>
</html>
