<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>

    <link rel="stylesheet" href="/stylesheets/contact.css" />
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>This is the contact page.</p>
    <!-- dynamic variables -->
    <p>Name: <%= name %></p>
    <p>Email: <%= email %></p>
    <p>Message: <%= message %></p>
    <script src="/javascript/abc.js"></script>
  </body>
</html>
